@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Merriweather:300,300i');

/* #ff7f65 	rgb(255,127,101)

dark orange: #ee2800 rgb(238,40,0);

purply:#4B4666 rgb(75,70,102);
redish:#681E1B;
yellowy:#FFF7DE;
pinkish:#D0A3A3;

*/

a {
	text-decoration: none!important;
}

body {
	font-family:'Merriweather', sans-serif;
	background-color:#fafafa;
}


ul {
	list-style:none;
}

header {
	position:relative;
	height:100vh;
	color:#fff;
	background:rgba(255,127,101);
	background-image:url('/assets/img/backgrounds/unit02.jpg');
	background-image:-webkit-gradient(linear, left bottom, left top, from(#fafafa), to(transparent)), url('/assets/img/backgrounds/unit02.jpg');
	background-image:linear-gradient(0deg, #fafafa 0%, transparent), url('/assets/img/backgrounds/unit02.jpg');
	background-size:cover;
	background-position:bottom center;
}

header.batman {
	background:rgba(255,127,101);
	background-image:url('/assets/img/backgrounds/batman.jpg');
	background-image:-webkit-gradient(linear, left bottom, left top, from(#fafafa), to(transparent)), url('/assets/img/backgrounds/batman.jpg');
	background-image:linear-gradient(0deg, #fafafa 0%, transparent), url('/assets/img/backgrounds/batman.jpg');
	background-position:right center;
}

header.cam {
	background:rgba(255,127,101);
	background-image:url('/assets/img/backgrounds/cam.jpg');
	background-image:-webkit-gradient(linear, left bottom, left top, from(#fafafa), to(transparent)), url('/assets/img/backgrounds/cam.jpg');
	background-image:linear-gradient(0deg, #fafafa 0%, transparent), url('/assets/img/backgrounds/cam.jpg');
}

header > .text {
	position:absolute;
	width:100%;
	top:50%;
	left:0;
	-webkit-transform:translateY(-50%);transform:translateY(-50%);
}

header h1 {
	font-family:'Montserrat',sans-serif;
	font-weight:700;
	font-size:1.7rem;
	text-transform:uppercase;
	text-shadow:1px 1px 5px rgba(0,0,0,0.5);
}

header .lead {
	font-size:1.17rem;
	text-shadow:1px 1px 5px rgba(0,0,0,0.5);
}

header .icons a {
	font-size:1.2rem;
	color:#fff;
	text-shadow:1px 1px 5px rgba(0,0,0,0.5);
}

/* projects */
	main {
		padding-bottom:70px;
	}

	main h2 {
		font-family:'Montserrat',sans-serif;
		font-weight:700;
		font-size:1.5rem;
		text-transform:uppercase;
	}
	
	.project {
		height:200px;
	}

	.project > a {
		display:block;
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
	}
	
	.project:nth-child(1) {
		margin-top:0!important;
	}

	.project .thumb {
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		border-radius:4px;
		background-size:cover;
		background-position:top center;
	}

	.project .text {
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		color:#fff;
		border-radius:4px;
		-webkit-box-shadow:1px 3px 10px rgba(0,0,0,0.25);
		        box-shadow:1px 3px 10px rgba(0,0,0,0.25);
		transition:box-shadow 0.2s ease-out;
	}

	.project:hover .text {
		-webkit-box-shadow:1px 6px 20px rgba(0,0,0,0.5);
		        box-shadow:1px 6px 20px rgba(0,0,0,0.5);
		transition:box-shadow 0.2s ease-in;
	}

	.project .text::before {
		content:'';
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		border-radius:4px;
		background: rgba(46,164,85,0.4); /* For browsers that do not support gradients */
		background: -webkit-linear-gradient(130deg, transparent, #4EA600 75% ); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(130deg, transparent, #4EA600 75% ); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(130deg, transparent, #4EA600 75% ); /* For Firefox 3.6 to 15 */
		background: linear-gradient(130deg, transparent, #4EA600 75% ); /* Standard syntax */
		transition:opacity 0.2s ease-out;
	}

	.project .text .helper {
		position:absolute;
		left:0;
		right:0;
		bottom:0;
		z-index:2;
		transition:opacity 0.2s ease-out;
	}

	.project:hover .text::before,.project:hover .text .helper {
		opacity:0;
		transition:opacity 0.2s ease-in;
	}

	.project .text h3 {
		color:#fff;
		font-size:1.3rem;
	}

	.project li {
		display:inline-block;
	}

	.project li:nth-last-child(1){
		margin-right:0!important;
	}

	.project .icons li .fa {
		color:#fff;
	}

	.project .other li {
		font-size:0.7rem;
	}

	.project .other li a {
		font-size:1em;
	}

	.project .other li::after {
		content:',\00a0';
	}

	.project .other li:nth-last-child(1)::after {
		content:'';
	}

/* footer */
	footer.container-fluid {
		position:fixed;
		width:100%;
		left:0;
		bottom:0;
		background-color:#edeff0;
		-webkit-box-shadow:1px -3px 5px rgba(0,0,0,0.2);
		        box-shadow:1px -3px 5px rgba(0,0,0,0.2);
	}

	#treehouse {
		color:#64ce83;
	}

	#treehouse img {
		width:35px;
		height:auto;
	}

@media screen and (min-width:350px){
	header h1 {
		font-size:2rem;
	}
}

@media screen and (min-width:750px){
	.project {
		height:200px;
	}

	.project.full .thumb,.project.full .text {
		left:0;
		right:0;
	}

	.project.full .thumb {
		background-position:center;
	}

	.project:nth-child(odd) .thumb,.project:nth-child(odd) .text {
		right:7.5px;
	}

	.project:nth-child(even) .thumb,.project:nth-child(even) .text {
		left:7.5px;
	}
}

@media screen and (min-width:1200px){
	header.container-fluid {
		position:fixed;
		width:45%;
		height:100%;
		top:0;
		left:0;
		background-image:url('/assets/img/backgrounds/unit02.jpg');
	}

	header.batman {
		background-image:url('/assets/img/backgrounds/batman.jpg');
	}

	header.cam {
		background-image:url('/assets/img/backgrounds/cam.jpg');
		background-position:right center;
	}

	main.container-fluid {
		position:fixed;
		width:55%;
		height:calc(100% - 70px);
		top:0;
		left:initial;
		right:0;
		padding-bottom:0;
		overflow-y:auto;
	}

	/* footer */
		footer.container-fluid {
			width:55%;
			left:initial;
			right:0;
		}
}

@media screen and (min-width:1440px){
	header.container-fluid,main.container-fluid,footer.container-fluid {
		width:50%;
	}
}

@media screen and (min-height:800px){
	header {
		height:60vh;
	}
	.project {
		height:300px;
	}

	.project.vertical {
		height:600px;
	}
}